In [ ]:
'ip:port/db', 'id/pw'

In [4]:
import pymysql
import pandas as pd
con =pymysql.connect(host='ip', user='id', password='password', db='encore', charset='utf8')
cur = con.cursor()

store_df = pd.read_sql_query("select * from store", con=con)

/tmp/ipykernel_94815/2348248693.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  store_df = pd.read_sql_query("select * from store", con=con)

In [ ]:
pd.set_option('display.max_columns', 100)

In [5]:
store_df

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,24시간,0
1,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,ATM,0
2,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,고구마·붕어빵,0
3,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인락커,0
4,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인택배접수,1
...,...,...,...,...,...,...,...,...,...,...,...
640490,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,hour,1
640491,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,lotto,0
640492,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,mix,0
640493,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,pos,0
640494,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,toto,0

In [11]:
import requests 
r = requests.get("http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&pageNo=1&numOfRows=10&zcode=11")
import xml.etree.ElementTree as ET
root  = ET.fromstring(r.text)

In [13]:
items = root.iter('item')

In [15]:
for element in items:
    break

In [20]:
for y in element:
    print(y.tag, y.text)

statNm 암사1동 공영주차장
statId ME174003
chgerId 01
chgerType 06
addr 서울특별시 강동구 고덕로28길 36
location null
lat 37.5529087
lng 127.1372547
useTime 24시간 이용가능
busiId ME
bnm 환경부
busiNm 환경부
busiCall 1661-9408
stat 2
statUpdDt 20240410125347
lastTsdt 20240410121025
lastTedt 20240410125346
nowTsdt None
powerType None
output 50
method 단독
zcode 11
zscode 11740
kind B0
kindDetail B001
parkingFree N
note None
limitYn N
limitDetail None
delYn N
delDetail None
trafficYn N

In [22]:
pd.DataFrame([{y.tag : y.text for y in element}])

,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
0,암사1동 공영주차장,ME174003,01,06,서울특별시 강동구 고덕로28길 36,null,37.5529087,127.1372547,24시간 이용가능,ME,...,11740,B0,B001,N,None,N,None,N,None,N

In [25]:
items = root.iter('item')
df1 = pd.DataFrame([{y.tag : y.text for y in element} for element in items])

In [27]:
items = root.iter('item')
total = []
for element in items:
    tmp = {} 
    for y in element:
        tmp[y.tag] = y.text
    total.append(tmp)
df2 = pd.DataFrame(total)