In [1]:
import pymysql
con =pymysql.connect(host='ip', user='id', password='password', db='encore', charset='utf8')
cur = con.cursor() #private ip는 내부에서만 유효하다 명시적으로 3306인데 vim mysql파일들어가서 port고칠수있다
#error뜰시 sudo service mysql start
import pandas as pd

In [3]:
store_df = pd.read_sql_query("select * from store", con=con)
#오류뜨는이유는 sqlalchemy권장 하는거지 에러가아님
# pd.set_option("display.max_colums",100) or colums->rows

/tmp/ipykernel_20808/2904919218.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  store_df = pd.read_sql_query("select * from store", con=con)

In [4]:
store_df

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,24시간,0
1,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,ATM,0
2,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,고구마·붕어빵,0
3,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인락커,0
4,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인택배접수,1
...,...,...,...,...,...,...,...,...,...,...,...
640491,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,hour,1
640492,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,lotto,0
640493,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,mix,0
640494,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,pos,0
640495,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,toto,0

In [5]:
import requests

In [6]:
r = requests.get("http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&pageNo=1&numOfRows=10&zcode=11")

In [11]:
import xml.etree.ElementTree as ET #xml 파싱하기 
# r.text #''이루어져잇으므로 text get방식 
root  = ET.fromstring(r.text)

In [15]:
items = root.iter('item') #iterator item의 종목을 다 가져옴

In [17]:
for element in items:
    break;

In [20]:
for y in element: #문자열은 아닌 element객체 key값을물어보면 value나
    # print(y.tag,y.text) #tag key값 xml형태

statNm 암사1동 공영주차장
statId ME174003
chgerId 01
chgerType 06
addr 서울특별시 강동구 고덕로28길 36
location null
lat 37.5529087
lng 127.1372547
useTime 24시간 이용가능
busiId ME
bnm 환경부
busiNm 환경부
busiCall 1661-9408
stat 2
statUpdDt 20240410125347
lastTsdt 20240410121025
lastTedt 20240410125346
nowTsdt None
powerType None
output 50
method 단독
zcode 11
zscode 11740
kind B0
kindDetail B001
parkingFree N
note None
limitYn N
limitDetail None
delYn N
delDetail None
trafficYn N

In [24]:
pd.DataFrame([{y.tag : y.text for y in element}]) #dictionary

,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
0,암사1동 공영주차장,ME174003,01,06,서울특별시 강동구 고덕로28길 36,null,37.5529087,127.1372547,24시간 이용가능,ME,...,11740,B0,B001,N,None,N,None,N,None,N

In [27]:
items = root.iter('item')
df1 = pd.DataFrame([{y.tag : y.text for y in element} for element in items])

In [29]:
items = root.iter('item')
total = []
for element in items:
    tmp={}
    for y in element:
        tmp[y.tag]=y.text
    total.append(tmp)
df2 = pd.DataFrame(total)