In [1]:
import pickle
import pandas as pd

In [2]:
pd.options.display.max_columns = None

In [3]:
with open('./dacon_total_df_240504_00.pkl', 'rb') as f:
    df = pickle.load(f)

In [4]:
# 날짜 컬럼 추가
df['day'] = df.Order_purchase_timestamp.dt.day
df['YearMonthDay'] = df['Order_purchase_timestamp'].dt.strftime('%Y%m%d')

In [5]:
# 90193 rows × 47 columns
df

,Order_id,Product_id,Seller_id,Order_purchase_year,Order_purchase_month,Review_id,Review_score,Review_creation_date,Review_answer_timestamp,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,Order_delivered_customer_date,Order_estimated_delivery_date,Payment_type,Payment_installments,Product_category_name,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state,order_count,Order_purchase_quarter,순이익,매출액,Customer_lat,Customer_lng,Seller_lat,Seller_lng,Distance,time_diff_purchase_carrier,time_diff_purchase_customer,time_diff_carrier_customer,time_diff_customer_delivery,time_diff_purchase_carrier_second,time_diff_purchase_customer_second,time_diff_carrier_customer_second,time_diff_customer_delivery_second,YearMonth,day,YearMonthDay
0,ORDER_00329,PRODUCT_07734,SELLER_0146,2017,10,REVIEW_65349,1,2017-10-21,2017-10-22 10:10:28,75.00,20.58,CUSTOMER_06208,delivered,2017-10-05 07:31:49,2017-10-10 02:46:24,2017-10-16 14:36:00,2017-12-07,boleto,1,computers_accessories,CUSTOMER_Unique_06197,50090,recife,PE,30190,belo horizonte,MG,1,4,75.00,95.58,-8.074551,-34.895035,-19.924640,-43.946122,1638.821950,4 days 19:14:35,11 days 07:04:11,6 days 11:49:36,51 days 09:24:00,414875.0,975851.0,560976.0,4440240.0,201710,5,20171005
1,ORDER_00616,PRODUCT_04278,SELLER_0914,2017,10,REVIEW_21396,1,2017-10-22,2017-10-24 23:33:19,294.90,20.34,CUSTOMER_77212,delivered,2017-10-05 15:08:00,2017-10-10 15:44:27,2017-10-13 15:44:27,2017-11-29,credit_card,10,automotive,CUSTOMER_Unique_74990,13610,leme,SP,86035,londrina,PR,1,4,294.90,315.24,-22.189204,-47.388202,-23.311083,-51.134917,403.929693,5 days 00:36:27,8 days 00:36:27,3 days 00:00:00,46 days 08:15:33,434187.0,693387.0,259200.0,4004133.0,201710,5,20171005
2,ORDER_01235,PRODUCT_23369,SELLER_1445,2017,10,REVIEW_50469,3,2017-10-25,2017-10-26 23:52:15,93.90,17.61,CUSTOMER_36496,delivered,2017-10-04 14:13:22,2017-10-08 14:46:49,2017-10-11 14:46:49,2017-11-30,credit_card,4,furniture_decor,CUSTOMER_Unique_35969,21853,rio de janeiro,RJ,87900,loanda,PR,1,4,93.90,111.51,-22.857083,-43.486439,-22.929384,-53.135873,988.308567,4 days 00:33:27,7 days 00:33:27,3 days 00:00:00,49 days 09:13:11,347607.0,606807.0,259200.0,4266791.0,201710,4,20171004
3,ORDER_01293,PRODUCT_04377,SELLER_2603,2017,10,REVIEW_75101,1,2017-10-27,2017-10-27 10:41:59,44.90,15.63,CUSTOMER_15399,delivered,2017-10-07 00:54:40,2017-10-25 11:35:52,2017-10-27 17:32:07,2017-12-01,boleto,1,perfumery,CUSTOMER_Unique_15296,21220,rio de janeiro,RJ,17510,marilia,SP,3,4,134.70,181.59,-22.849423,-43.313509,-22.197207,-49.952195,685.667522,18 days 10:41:12,20 days 16:37:27,2 days 05:56:15,34 days 06:27:53,1593672.0,1787847.0,194175.0,2960873.0,201710,7,20171007
4,ORDER_02078,PRODUCT_21531,SELLER_2660,2017,10,REVIEW_58071,4,2017-10-28,2018-01-08 15:09:32,39.90,14.52,CUSTOMER_77880,delivered,2017-10-05 13:12:43,2017-10-21 16:34:58,2017-10-27 12:33:29,2017-11-29,credit_card,10,telephony,CUSTOMER_Unique_75617,37704,pocos de caldas,MG,2969,sao paulo,SP,2,4,79.80,108.84,-21.792839,-46.567365,-23.492059,-46.710628,189.515977,16 days 03:22:15,21 days 23:20:46,5 days 19:58:31,32 days 11:26:31,1394535.0,1898446.0,503911.0,2805991.0,201710,5,20171005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90188,ORDER_87982,PRODUCT_29370,SELLER_0335,2019,7,REVIEW_24242,4,2019-07-13,2019-07-15 14:23:30,24.90,15.27,CUSTOMER_61945,delivered,2019-07-06 11:18:39,2019-07-09 08:58:00,2019-07-12 17:48:52,2019-07-25,credit_card,1,furniture_decor,CUSTOMER_Unique_60513,2050,sao paulo,SP,20270,rio de janeiro,RJ,1,3,24.90,40.17,-23.517344,-46.612135,-22.916245,-43.217950,353.224561,2 days 21:39:21,6 days 06:30:13,3 days 08:50:52,12 days 06:11:08,250761.0,541813.0,291052.0,1059068.0,201907,6,20190706
90189,ORDER_88004,PRODUCT_02102,SELLER_1628,2019,7,REVIEW_72610,5,2019-07-28,2019-07-29 02:33:56,70.00,13.32,CUSTOMER_52088,delivered,2019-07-24 21:58:04,2019-07-26 11:28:00,2019-07-27 23:03:17,2019-08-01,boleto,1,furniture_decor,CUSTOMER_Unique_51078,82860,curitiba,PR,80330,curitiba,PR,1,3,70.00,83.32,-25.384873,-49.197574,-25.469974,-49.307372,14.530102,1 days 13:29:56,3 days 01:05:13,1 days 11:35:17,4 days 00:56:43,134996.0,263113.0,128117.0,349003.0,201907,24,20190724
90190,ORDER_88021,PRODUCT_22041,SELLER_1230,2019,7,REVIEW_55262,5,2019-07-26,2019-07-26 22:20:21,40.99,14.60,CUSTOMER_19304,delivered,2019-07-21 01:01:06,2019-07-23 16:13:00,2019-07-25 17:37:40,2019-08-06,credit_card,5,home_utilities,CUSTOMER_Unique_19150,13515,charqueada,SP,3275,sao paulo,SP,1,3,40.99,55.59,-22.511338,-47.775884,-23.583987,-46.541397,173.724008,2 days 15:11:54,4 days 16:36:34,2 days 01:24:40,11 days 06:22:20,227514.0,405394.0,177880.0,973340.0,201907,21,20190721
90191,ORDER_88035,PRODUCT_02524,SELLER_1627,2019,7,REVIEW_32238,5,2019-07-25,2019-07-26 01:32:39,31.50,22.15,CUSTOMER_15679,delivered,2019-07-14 20:17:16,2019-07-16 09:03:00,2019-07-24 19:18:59,2019-08-08,credit_card,5,health_beauty,CUSTOMER_Unique_15573,48030,alagoinhas,BA,3006,sao paulo,SP,1,3,31.50,53.65,-12.137491,-38.405186,-23.541812,-46.624550,1536.749517,1 days 12:45:44,9 days 23:01:43,8 days 10:15:59,14 days 04:41:01,132344.0,860503.0,728159.0,1226461.0,201907,14,20190714
90192,ORDER_88059,PRODUCT_08954,SELLER_0612,2019,7,REVIEW_30982,5,2019-07-25,2019-07-26 10:33:47,159.00,13.41,CUSTOMER_50200,delivered,2019-07-22 16:58:38,2019-07-23 15:12:00,2019-07-24 22:46:38,2019-07-31,credit_card,3,automotive,CUSTOMER_Unique_49261,6428,barueri,SP,1303,sao paulo,SP,1,3,159.00,172.41,-23.496530,-46.957729,-23.549506,-46.648433,32.079694,0 days 22:13:22,2 days 05:48:00,1 days 07:34:38,6 days 01:13:22,80002.0,193680.0,113678.0,522802.0,201907,22,20190722

In [6]:
# 90193 rows × 47 columns
df_copy = df.copy()
df_copy

,Order_id,Product_id,Seller_id,Order_purchase_year,Order_purchase_month,Review_id,Review_score,Review_creation_date,Review_answer_timestamp,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,Order_delivered_customer_date,Order_estimated_delivery_date,Payment_type,Payment_installments,Product_category_name,Customer_unique_id,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state,order_count,Order_purchase_quarter,순이익,매출액,Customer_lat,Customer_lng,Seller_lat,Seller_lng,Distance,time_diff_purchase_carrier,time_diff_purchase_customer,time_diff_carrier_customer,time_diff_customer_delivery,time_diff_purchase_carrier_second,time_diff_purchase_customer_second,time_diff_carrier_customer_second,time_diff_customer_delivery_second,YearMonth,day,YearMonthDay
0,ORDER_00329,PRODUCT_07734,SELLER_0146,2017,10,REVIEW_65349,1,2017-10-21,2017-10-22 10:10:28,75.00,20.58,CUSTOMER_06208,delivered,2017-10-05 07:31:49,2017-10-10 02:46:24,2017-10-16 14:36:00,2017-12-07,boleto,1,computers_accessories,CUSTOMER_Unique_06197,50090,recife,PE,30190,belo horizonte,MG,1,4,75.00,95.58,-8.074551,-34.895035,-19.924640,-43.946122,1638.821950,4 days 19:14:35,11 days 07:04:11,6 days 11:49:36,51 days 09:24:00,414875.0,975851.0,560976.0,4440240.0,201710,5,20171005
1,ORDER_00616,PRODUCT_04278,SELLER_0914,2017,10,REVIEW_21396,1,2017-10-22,2017-10-24 23:33:19,294.90,20.34,CUSTOMER_77212,delivered,2017-10-05 15:08:00,2017-10-10 15:44:27,2017-10-13 15:44:27,2017-11-29,credit_card,10,automotive,CUSTOMER_Unique_74990,13610,leme,SP,86035,londrina,PR,1,4,294.90,315.24,-22.189204,-47.388202,-23.311083,-51.134917,403.929693,5 days 00:36:27,8 days 00:36:27,3 days 00:00:00,46 days 08:15:33,434187.0,693387.0,259200.0,4004133.0,201710,5,20171005
2,ORDER_01235,PRODUCT_23369,SELLER_1445,2017,10,REVIEW_50469,3,2017-10-25,2017-10-26 23:52:15,93.90,17.61,CUSTOMER_36496,delivered,2017-10-04 14:13:22,2017-10-08 14:46:49,2017-10-11 14:46:49,2017-11-30,credit_card,4,furniture_decor,CUSTOMER_Unique_35969,21853,rio de janeiro,RJ,87900,loanda,PR,1,4,93.90,111.51,-22.857083,-43.486439,-22.929384,-53.135873,988.308567,4 days 00:33:27,7 days 00:33:27,3 days 00:00:00,49 days 09:13:11,347607.0,606807.0,259200.0,4266791.0,201710,4,20171004
3,ORDER_01293,PRODUCT_04377,SELLER_2603,2017,10,REVIEW_75101,1,2017-10-27,2017-10-27 10:41:59,44.90,15.63,CUSTOMER_15399,delivered,2017-10-07 00:54:40,2017-10-25 11:35:52,2017-10-27 17:32:07,2017-12-01,boleto,1,perfumery,CUSTOMER_Unique_15296,21220,rio de janeiro,RJ,17510,marilia,SP,3,4,134.70,181.59,-22.849423,-43.313509,-22.197207,-49.952195,685.667522,18 days 10:41:12,20 days 16:37:27,2 days 05:56:15,34 days 06:27:53,1593672.0,1787847.0,194175.0,2960873.0,201710,7,20171007
4,ORDER_02078,PRODUCT_21531,SELLER_2660,2017,10,REVIEW_58071,4,2017-10-28,2018-01-08 15:09:32,39.90,14.52,CUSTOMER_77880,delivered,2017-10-05 13:12:43,2017-10-21 16:34:58,2017-10-27 12:33:29,2017-11-29,credit_card,10,telephony,CUSTOMER_Unique_75617,37704,pocos de caldas,MG,2969,sao paulo,SP,2,4,79.80,108.84,-21.792839,-46.567365,-23.492059,-46.710628,189.515977,16 days 03:22:15,21 days 23:20:46,5 days 19:58:31,32 days 11:26:31,1394535.0,1898446.0,503911.0,2805991.0,201710,5,20171005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90188,ORDER_87982,PRODUCT_29370,SELLER_0335,2019,7,REVIEW_24242,4,2019-07-13,2019-07-15 14:23:30,24.90,15.27,CUSTOMER_61945,delivered,2019-07-06 11:18:39,2019-07-09 08:58:00,2019-07-12 17:48:52,2019-07-25,credit_card,1,furniture_decor,CUSTOMER_Unique_60513,2050,sao paulo,SP,20270,rio de janeiro,RJ,1,3,24.90,40.17,-23.517344,-46.612135,-22.916245,-43.217950,353.224561,2 days 21:39:21,6 days 06:30:13,3 days 08:50:52,12 days 06:11:08,250761.0,541813.0,291052.0,1059068.0,201907,6,20190706
90189,ORDER_88004,PRODUCT_02102,SELLER_1628,2019,7,REVIEW_72610,5,2019-07-28,2019-07-29 02:33:56,70.00,13.32,CUSTOMER_52088,delivered,2019-07-24 21:58:04,2019-07-26 11:28:00,2019-07-27 23:03:17,2019-08-01,boleto,1,furniture_decor,CUSTOMER_Unique_51078,82860,curitiba,PR,80330,curitiba,PR,1,3,70.00,83.32,-25.384873,-49.197574,-25.469974,-49.307372,14.530102,1 days 13:29:56,3 days 01:05:13,1 days 11:35:17,4 days 00:56:43,134996.0,263113.0,128117.0,349003.0,201907,24,20190724
90190,ORDER_88021,PRODUCT_22041,SELLER_1230,2019,7,REVIEW_55262,5,2019-07-26,2019-07-26 22:20:21,40.99,14.60,CUSTOMER_19304,delivered,2019-07-21 01:01:06,2019-07-23 16:13:00,2019-07-25 17:37:40,2019-08-06,credit_card,5,home_utilities,CUSTOMER_Unique_19150,13515,charqueada,SP,3275,sao paulo,SP,1,3,40.99,55.59,-22.511338,-47.775884,-23.583987,-46.541397,173.724008,2 days 15:11:54,4 days 16:36:34,2 days 01:24:40,11 days 06:22:20,227514.0,405394.0,177880.0,973340.0,201907,21,20190721
90191,ORDER_88035,PRODUCT_02524,SELLER_1627,2019,7,REVIEW_32238,5,2019-07-25,2019-07-26 01:32:39,31.50,22.15,CUSTOMER_15679,delivered,2019-07-14 20:17:16,2019-07-16 09:03:00,2019-07-24 19:18:59,2019-08-08,credit_card,5,health_beauty,CUSTOMER_Unique_15573,48030,alagoinhas,BA,3006,sao paulo,SP,1,3,31.50,53.65,-12.137491,-38.405186,-23.541812,-46.624550,1536.749517,1 days 12:45:44,9 days 23:01:43,8 days 10:15:59,14 days 04:41:01,132344.0,860503.0,728159.0,1226461.0,201907,14,20190714
90192,ORDER_88059,PRODUCT_08954,SELLER_0612,2019,7,REVIEW_30982,5,2019-07-25,2019-07-26 10:33:47,159.00,13.41,CUSTOMER_50200,delivered,2019-07-22 16:58:38,2019-07-23 15:12:00,2019-07-24 22:46:38,2019-07-31,credit_card,3,automotive,CUSTOMER_Unique_49261,6428,barueri,SP,1303,sao paulo,SP,1,3,159.00,172.41,-23.496530,-46.957729,-23.549506,-46.648433,32.079694,0 days 22:13:22,2 days 05:48:00,1 days 07:34:38,6 days 01:13:22,80002.0,193680.0,113678.0,522802.0,201907,22,20190722

In [7]:
# 90193 rows × 48 columns 
# 날짜별 거래건수 합산
df_copy2 = df_copy.groupby(['YearMonthDay', 'order_count','Customer_unique_id']).value_counts().reset_index()
df_copy2

,YearMonthDay,order_count,Customer_unique_id,Order_id,Product_id,Seller_id,Order_purchase_year,Order_purchase_month,Review_id,Review_score,Review_creation_date,Review_answer_timestamp,Price,Freight_value,Customer_id,Order_status,Order_purchase_timestamp,Order_delivered_carrier_date,Order_delivered_customer_date,Order_estimated_delivery_date,Payment_type,Payment_installments,Product_category_name,Customer_zipcode_prefix,Customer_city,Customer_state,Seller_zipcode_prefix,Seller_city,Seller_state,Order_purchase_quarter,순이익,매출액,Customer_lat,Customer_lng,Seller_lat,Seller_lng,Distance,time_diff_purchase_carrier,time_diff_purchase_customer,time_diff_carrier_customer,time_diff_customer_delivery,time_diff_purchase_carrier_second,time_diff_purchase_customer_second,time_diff_carrier_customer_second,time_diff_customer_delivery_second,YearMonth,day,count
0,20171003,1,CUSTOMER_Unique_06817,ORDER_86794,PRODUCT_21193,SELLER_1595,2017,10,REVIEW_11369,3,2017-11-04,2017-11-04 23:45:17,36.49,17.24,CUSTOMER_06831,delivered,2017-10-03 21:13:36,2017-10-25 11:57:59,2017-11-03 10:58:07,2017-11-29,boleto,1,sports_leisure,90040,porto alegre,RS,18015,sorocaba,SP,4,36.49,53.73,-30.041161,-51.213661,-23.502755,-47.430451,818.147634,21 days 14:44:23,30 days 13:44:31,8 days 23:00:08,25 days 13:01:53,1867463.0,2641471.0,774008.0,2206913.0,201710,3,1
1,20171003,1,CUSTOMER_Unique_09766,ORDER_82627,PRODUCT_13424,SELLER_1784,2017,10,REVIEW_44031,4,2017-10-26,2017-10-30 21:32:15,29.90,15.56,CUSTOMER_34191,delivered,2017-10-03 09:44:50,2017-10-23 14:02:13,2017-10-26 14:02:13,2017-10-27,boleto,1,watches_gifts,4106,sao paulo,SP,85801,cascavel,PR,4,29.90,45.46,-23.581451,-46.635029,-24.959184,-53.462644,708.755226,20 days 04:17:23,23 days 04:17:23,3 days 00:00:00,0 days 09:57:47,1743443.0,2002643.0,259200.0,35867.0,201710,3,1
2,20171003,1,CUSTOMER_Unique_16990,ORDER_54980,PRODUCT_25882,SELLER_1247,2017,10,REVIEW_72388,5,2017-11-04,2018-01-30 17:17:50,128.90,25.67,CUSTOMER_17112,delivered,2017-10-03 22:44:10,2017-10-30 14:22:04,2017-11-03 14:04:50,2017-12-01,credit_card,2,toys,76700,mozarlandia,GO,18530,tiete,SP,4,128.90,154.57,-14.751274,-50.568165,-23.101621,-47.711819,975.802634,26 days 15:37:54,30 days 15:20:40,3 days 23:42:46,27 days 09:55:10,2302674.0,2647240.0,344566.0,2368510.0,201710,3,1
3,20171003,1,CUSTOMER_Unique_17484,ORDER_05969,PRODUCT_06598,SELLER_1434,2017,10,REVIEW_30097,5,2017-10-19,2017-10-22 00:23:57,29.99,10.96,CUSTOMER_17612,delivered,2017-10-03 22:31:31,2017-10-08 10:34:01,2017-10-14 16:08:00,2017-11-23,credit_card,4,fashion_shoes,12030,taubate,SP,13481,limeira,SP,4,29.99,40.95,-23.032142,-45.570461,-22.600004,-47.407129,194.282535,4 days 12:02:30,10 days 17:36:29,6 days 05:33:59,39 days 07:52:00,388950.0,927389.0,538439.0,3397920.0,201710,3,1
4,20171003,1,CUSTOMER_Unique_47952,ORDER_25169,PRODUCT_12476,SELLER_2510,2017,10,REVIEW_86563,4,2017-10-28,2017-10-29 11:29:53,21.90,17.19,CUSTOMER_48848,delivered,2017-10-03 16:56:50,2017-10-21 16:33:46,2017-10-27 18:19:38,2017-11-07,boleto,1,sports_leisure,98280,panambi,RS,15802,catanduva,SP,4,21.90,39.09,-28.293541,-53.502238,-21.143389,-48.995314,915.913677,17 days 23:36:56,24 days 01:22:48,6 days 01:45:52,10 days 05:40:22,1553816.0,2078568.0,524752.0,884422.0,201710,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90188,20190730,1,CUSTOMER_Unique_33179,ORDER_13060,PRODUCT_16587,SELLER_1539,2019,7,REVIEW_29720,5,2019-08-01,2019-08-06 17:53:17,150.00,17.32,CUSTOMER_33622,delivered,2019-07-30 12:45:54,2019-07-30 14:59:00,2019-07-31 20:06:19,2019-08-02,credit_card,4,construction_tools_construction,5083,sao paulo,SP,2976,sao paulo,SP,3,150.00,167.32,-23.532956,-46.716797,-23.476142,-46.715789,6.318274,0 days 02:13:06,1 days 07:20:25,1 days 05:07:19,1 days 03:53:41,7986.0,112825.0,104839.0,100421.0,201907,30,1
90189,20190730,1,CUSTOMER_Unique_41777,ORDER_02574,PRODUCT_17728,SELLER_0642,2019,7,REVIEW_66906,5,2019-08-01,2019-08-02 02:51:49,22.44,7.42,CUSTOMER_42466,delivered,2019-07-30 10:00:40,2019-07-30 14:51:00,2019-07-31 17:46:55,2019-08-03,credit_card,2,computers_accessories,9260,santo andre,SP,9780,sao bernardo do campo,SP,3,22.44,29.86,-23.631076,-46.496432,-23.715050,-46.537268,10.221679,0 days 04:50:20,1 days 07:46:15,1 days 02:55:55,2 days 06:13:05,17420.0,114375.0,96955.0,195185.0,201907,30,1
90190,20190730,1,CUSTOMER_Unique_45979,ORDER_20810,PRODUCT_10900,SELLER_1428,2019,7,REVIEW_38888,5,2019-08-01,2019-08-02 00:42:36,16.08,7.39,CUSTOMER_46812,delivered,2019-07-30 11:34:43,2019-07-30 15:07:00,2019-07-31 19:36:49,2019-08-02,credit_card,1,health_beauty,4152,sao paulo,SP,4130,sao paulo - sp,SP,3,16.08,23.47,-23.624632,-46.624521,-23.604972,-46.620006,2.233926,0 days 03:32:17,1 days 08:02:06,1 days 04:29:49,1 days 04:23:11,12737.0,115326.0,102589.0,102191.0,201907,30,1
90191,20190730,1,CUSTOMER_Unique_67226,ORDER_31951,PRODUCT_20710,SELLER_2138,2019,7,REVIEW_26486,5,2019-08-01,2019-08-04 02:09:25,32.00,8.38,CUSTOMER_69006,delivered,2019-07-30 12:50:41,2019-07-30 19:02:00,2019-07-31 21:41:20,2019-08-03,credit_card,1,home_utilities,7072,guarulhos,SP,13920,pedreira,SP,3,32.00,40.38,-23.446778,-46.555431,-22.740325,-46.896754,85.962626,0 days 06:11:19,1 days 08:50:39,1 days 02:39:20,2 days 02:18:40,22279.0,118239.0,95960.0,181120.0,201907,30,1
90192,20190730,1,CUSTOMER_Unique_78742,ORDER_84777,PRODUCT_23700,SELLER_0245,2019,7,REVIEW_42659,5,2019-08-01,2019-08-02 00:10:35,8.99,7.39,CUSTOMER_81191,delivered,2019-07-30 13:26:53,2019-07-30 17:58:00,2019-07-31 20:24:34,2019-08-09,credit_card,1,computers_accessories,13453,santa barbara d'oeste,SP,4102,sao paulo,SP,3,8.99,16.38,-22.735064,-47.399369,-23.589847,-46.632614,123.200594,0 days 04:31:07,1 days 06:57:41,1 days 02:26:34,8 days 03:35:26,16267.0,111461.0,95194.0,704126.0,201907,30,1

In [8]:
# 86467 rows × 4 columns
ddf3 = df_copy2[['YearMonthDay', 'Customer_unique_id', 'order_count']].value_counts().reset_index()
ddf3

      YearMonthDay     Customer_unique_id  order_count  count
0         20181121  CUSTOMER_Unique_45441            1      7
1         20190512  CUSTOMER_Unique_66687            1      7
2         20180615  CUSTOMER_Unique_00387            1      7
3         20180115  CUSTOMER_Unique_29448            1      6
4         20180620  CUSTOMER_Unique_16144            1      6
...            ...                    ...          ...    ...
86462     20181025  CUSTOMER_Unique_70253            1      1
86463     20181025  CUSTOMER_Unique_69963            1      1
86464     20181025  CUSTOMER_Unique_69383            1      1
86465     20181025  CUSTOMER_Unique_68513            1      1
86466     20190730  CUSTOMER_Unique_78742            1      1

[86467 rows x 4 columns]

In [9]:
ddf3['재구매'] = ddf3['order_count'].apply(lambda x : 1 if x > 1 else 0)

In [10]:
# 86467 rows × 5 columns
ddf3

      YearMonthDay     Customer_unique_id  order_count  count  재구매
0         20181121  CUSTOMER_Unique_45441            1      7    0
1         20190512  CUSTOMER_Unique_66687            1      7    0
2         20180615  CUSTOMER_Unique_00387            1      7    0
3         20180115  CUSTOMER_Unique_29448            1      6    0
4         20180620  CUSTOMER_Unique_16144            1      6    0
...            ...                    ...          ...    ...  ...
86462     20181025  CUSTOMER_Unique_70253            1      1    0
86463     20181025  CUSTOMER_Unique_69963            1      1    0
86464     20181025  CUSTOMER_Unique_69383            1      1    0
86465     20181025  CUSTOMER_Unique_68513            1      1    0
86466     20190730  CUSTOMER_Unique_78742            1      1    0

[86467 rows x 5 columns]

In [11]:
# 컬럼명 변경
ddf3.rename(columns={'count':'당일구매'},inplace=True)

In [12]:
일별_구매건수 = ddf3.groupby(by='Customer_unique_id')['Customer_unique_id'].value_counts().reset_index()
일별_구매건수

          Customer_unique_id  count
0      CUSTOMER_Unique_00000      1
1      CUSTOMER_Unique_00001      1
2      CUSTOMER_Unique_00002      1
3      CUSTOMER_Unique_00003      1
4      CUSTOMER_Unique_00004      2
...                      ...    ...
84125  CUSTOMER_Unique_85234      1
84126  CUSTOMER_Unique_85235      1
84127  CUSTOMER_Unique_85236      1
84128  CUSTOMER_Unique_85237      1
84129  CUSTOMER_Unique_85238      1

[84130 rows x 2 columns]

In [13]:
일별_구매건수[일별_구매건수['Customer_unique_id'] == 'CUSTOMER_Unique_04511']

         Customer_unique_id  count
4437  CUSTOMER_Unique_04511      7

In [14]:
일별_구매건수.rename(columns={'count':'일별구매'},inplace=True)

In [15]:
# 84130 rows × 2 columns
일별_구매건수

          Customer_unique_id  일별구매
0      CUSTOMER_Unique_00000     1
1      CUSTOMER_Unique_00001     1
2      CUSTOMER_Unique_00002     1
3      CUSTOMER_Unique_00003     1
4      CUSTOMER_Unique_00004     2
...                      ...   ...
84125  CUSTOMER_Unique_85234     1
84126  CUSTOMER_Unique_85235     1
84127  CUSTOMER_Unique_85236     1
84128  CUSTOMER_Unique_85237     1
84129  CUSTOMER_Unique_85238     1

[84130 rows x 2 columns]

In [16]:
# 86467 rows × 6 columns
ddf4 = ddf3.merge(일별_구매건수, how='inner', on='Customer_unique_id')
ddf4

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매  일별구매
0         20181121  CUSTOMER_Unique_45441            1     7    0     1
1         20190512  CUSTOMER_Unique_66687            1     7    0     1
2         20180615  CUSTOMER_Unique_00387            1     7    0     1
3         20180115  CUSTOMER_Unique_29448            1     6    0     1
4         20180620  CUSTOMER_Unique_16144            1     6    0     1
...            ...                    ...          ...   ...  ...   ...
86462     20181025  CUSTOMER_Unique_70253            1     1    0     1
86463     20181025  CUSTOMER_Unique_69963            1     1    0     1
86464     20181025  CUSTOMER_Unique_69383            1     1    0     1
86465     20181025  CUSTOMER_Unique_68513            1     1    0     1
86466     20190730  CUSTOMER_Unique_78742            1     1    0     1

[86467 rows x 6 columns]

In [17]:
# 180 rows × 6 columns
ddf4[ddf4.일별구매 > 3]

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매  일별구매
22        20181201  CUSTOMER_Unique_04511            1     4    0     7
84        20190217  CUSTOMER_Unique_23151            1     3    0     7
114       20190427  CUSTOMER_Unique_06380            1     3    0     4
127       20190206  CUSTOMER_Unique_03813            1     3    0     4
131       20180805  CUSTOMER_Unique_42910            1     3    0     4
...            ...                    ...          ...   ...  ...   ...
84893     20181017  CUSTOMER_Unique_09367            3     1    1     6
85424     20181029  CUSTOMER_Unique_12500            1     1    0    12
85561     20181102  CUSTOMER_Unique_07297            1     1    0     4
85681     20181031  CUSTOMER_Unique_12441            1     1    0     5
86389     20181026  CUSTOMER_Unique_01848            1     1    0     4

[180 rows x 6 columns]

In [18]:
with open('./dacon_total_df_240505_00.pkl', 'wb') as f:
    pickle.dump(ddf4, f)

---------------------------------------------------------

# 데이터 비교 조회

    ddf3
    ddf4

------

In [314]:
ddf3[ddf3['Customer_unique_id'] == 'CUSTOMER_Unique_06380']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매
114       20190427  CUSTOMER_Unique_06380            1     3    0
35334     20190501  CUSTOMER_Unique_06380            2     1    1
35335     20190501  CUSTOMER_Unique_06380            1     1    0
36766     20190413  CUSTOMER_Unique_06380            1     1    0

In [318]:
ddf4[ddf4['Customer_unique_id'] == 'CUSTOMER_Unique_06380']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매  일별구매
114       20190427  CUSTOMER_Unique_06380            1     3    0     4
35334     20190501  CUSTOMER_Unique_06380            2     1    1     4
35335     20190501  CUSTOMER_Unique_06380            1     1    0     4
36766     20190413  CUSTOMER_Unique_06380            1     1    0     4

In [317]:
ddf3[ddf3['Customer_unique_id'] == 'CUSTOMER_Unique_09367']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매
21234     20190203  CUSTOMER_Unique_09367            3     1    1
26532     20190528  CUSTOMER_Unique_09367            1     1    0
49100     20180622  CUSTOMER_Unique_09367            1     1    0
60451     20180521  CUSTOMER_Unique_09367            2     1    1
60731     20180511  CUSTOMER_Unique_09367            1     1    0
84893     20181017  CUSTOMER_Unique_09367            3     1    1

In [319]:
ddf4[ddf4['Customer_unique_id'] == 'CUSTOMER_Unique_09367']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매  일별구매
21234     20190203  CUSTOMER_Unique_09367            3     1    1     6
26532     20190528  CUSTOMER_Unique_09367            1     1    0     6
49100     20180622  CUSTOMER_Unique_09367            1     1    0     6
60451     20180521  CUSTOMER_Unique_09367            2     1    1     6
60731     20180511  CUSTOMER_Unique_09367            1     1    0     6
84893     20181017  CUSTOMER_Unique_09367            3     1    1     6

In [321]:
ddf4[ddf4['Customer_unique_id'] == 'CUSTOMER_Unique_12500']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매  일별구매
29826     20190723  CUSTOMER_Unique_12500            1     1    0    12
33307     20190704  CUSTOMER_Unique_12500            1     1    0    12
40224     20190522  CUSTOMER_Unique_12500            1     1    0    12
40441     20190521  CUSTOMER_Unique_12500            1     1    0    12
45601     20180718  CUSTOMER_Unique_12500            1     1    0    12
48773     20180618  CUSTOMER_Unique_12500            1     1    0    12
53027     20180724  CUSTOMER_Unique_12500            1     1    0    12
54160     20180805  CUSTOMER_Unique_12500            1     1    0    12
69008     20181122  CUSTOMER_Unique_12500            1     1    0    12
79200     20180905  CUSTOMER_Unique_12500            1     1    0    12
84030     20181018  CUSTOMER_Unique_12500            1     1    0    12
85424     20181029  CUSTOMER_Unique_12500            1     1    0    12

In [322]:
ddf3[ddf3['Customer_unique_id'] == 'CUSTOMER_Unique_12500']

      YearMonthDay     Customer_unique_id  order_count  당일구매  재구매
29826     20190723  CUSTOMER_Unique_12500            1     1    0
33307     20190704  CUSTOMER_Unique_12500            1     1    0
40224     20190522  CUSTOMER_Unique_12500            1     1    0
40441     20190521  CUSTOMER_Unique_12500            1     1    0
45601     20180718  CUSTOMER_Unique_12500            1     1    0
48773     20180618  CUSTOMER_Unique_12500            1     1    0
53027     20180724  CUSTOMER_Unique_12500            1     1    0
54160     20180805  CUSTOMER_Unique_12500            1     1    0
69008     20181122  CUSTOMER_Unique_12500            1     1    0
79200     20180905  CUSTOMER_Unique_12500            1     1    0
84030     20181018  CUSTOMER_Unique_12500            1     1    0
85424     20181029  CUSTOMER_Unique_12500            1     1    0